<h2>Services</h2>

<div *ngIf="null == marathonApps">Loading...</div>

<ul class="marathonApps">
  <li *ngFor="let marathonApp of marathonApps" (click)="onSelect(marathonApp)" [class.selected]="marathonApp === selectedMarathonApp">
    <span class="marathonApp-element">
      <span class="badge">{{marathonApp.project}}: {{marathonApp.name}}</span>
    </span>
    <button class="delete-button" (click)="deleteMarathonApp(marathonApp, $event)">Delete</button>
  </li>
</ul>

<div class="error" *ngIf="error" [innerHTML]="error">{{error}}</div>

<button (click)="addMarathonApp()">Add New Service</button>
<div *ngIf="addingMarathonApp">
  <my-marathon-app-input (close)="close($event)" addingMarathonApp=true></my-marathon-app-input>
</div>

<div *ngIf="selectedMarathonApp">
  <h2>
    {{selectedMarathonApp.name | uppercase}} is my Service
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
