Time: {{ time$ | async | date:'mediumTime' }}

TimeIncreased: {{ timeIncreased$ | async | date:'mediumTime' }}
<!-- <h2>Services<span *ngIf="project"> of {{project}}</span></h2> -->
<!-- <h5 hidden>BLA{{counter$ | async}}</h5> -->
<!-- <h5>{{ (marathonApps$$ | async | async)[1].name}}</h5> -->
<!-- <div hidden>{{intervalMarathonApps$$ | async | async}}</div> -->
<div hidden>{{refreshDelayed$$ | async | async}}</div>

<h2>Services > <span *ngIf="project"><a routerLink="/projects" routerLinkActive="active">Projects</a> > {{project}} </span></h2>

<!-- <button class="marathonApps marathonApp-element" (click)="addMarathonApp()">Add New Service</button> -->
<div *ngIf="addingMarathonApp">
  <my-marathon-app-input (close)="close($event)" addingMarathonApp=true></my-marathon-app-input>
</div>

<ul class="marathonApps">
    <li (click)="addMarathonApp()">+ Add New Service <span *ngIf="addingMarathonApp">
        <!-- <my-marathon-app-input (close)="close($event)" addingMarathonApp=true></my-marathon-app-input> -->
    </span></li>
  <li *ngFor="let marathonApp of marathonApps" (click)="onSelect(marathonApp)" [class.selected]="marathonApp === selectedMarathonApp">
    <span class="marathonApp-element">
      <span class="badge" [class.healthy]="marathonApp.healthyness === 1" [class.unhealthy]="marathonApp.healthyness === 0">{{marathonApp.name}}</span>
      <span class="badge" *ngIf="marathonApp.project && project !== marathonApp.project">{{marathonApp.project}}</span>
      <span >{{marathonApp.instances}}</span>
      <button class="delete-button" (click)="deleteMarathonApp(marathonApp, $event)">Delete</button>
    </span>
  </li>
  <!-- <li (click)="addMarathonApp()">+ Add New Service <span *ngIf="addingMarathonApp">
      <my-marathon-app-input (close)="close($event)" addingMarathonApp=true></my-marathon-app-input>
  </span></li> -->
</ul>

<div *ngIf="null == marathonApps">Loading...</div>

<!-- <button (click)="close()">Close</button> -->

<div class="error" *ngIf="error" [innerHTML]="error">{{error}}</div>

<div *ngIf="selectedMarathonApp">
  <h2>
    {{selectedMarathonApp.name | uppercase}} is my Service
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
