<h2>Services</h2>

<ul class="restItems">
  <li *ngFor="let restItem of restItems">
    <span class="restItem-element">
      <span class="badge">{{restItem.name}}</span>
    </span>
    <button class="delete-button" (click)="deleteRestItem(restItem, $event)">Delete</button>
  </li>
</ul>

<div class="error" *ngIf="error">{{error}}</div>
<button (click)="addRestItem()">Add New Service</button>
<div *ngIf="addingRestItem">
  <my-rest-item-detail (close)="close($event)"></my-rest-item-detail>
</div>

<div *ngIf="selectedRestItem">
  <h2>
    {{selectedRestItem.name | uppercase}} is my restItem
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
